          <table border="0" align="right" cellpadding="1" class="xtrasmtxt">
            <tr>
			  <td><img src="/assets/learnmore.gif"></td>
            </tr>
            <tr>
              <td>
                <strong>貯蓄</strong><br/>
                <span class="normblue">総合口座 | 定期預金・積立 | 外貨預金<br/>
                  <br/>
              </span>
              </td>
            </tr>
            <tr>
              <td>
                <strong>フィナンシャル・プランニング</strong><br/>
                <span class="normblue">
                  個人年金保険 | 一時払終身保険
                  | 生命保険 |<br/>
                  確定拠出年金 | 遺言信託<br />
                  <br/>
                </span>
              </td>
            </tr>
            <tr>
              <td><strong>借りる</strong><br/>
                <span class="normblue">
                  住宅ローン | カードローン | 自動車ローン | 教育ローン<br />
                  <br />
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <strong>投資・ふやす</strong><br/>
                <span class="normblue">
                  投資信託 | 外債 | 個人向け国債 | 外貨 FX<br />
                  <br />
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <strong>お知せ</strong><br/>
                <span class="normblue">
                  アカウントの開設をまだ行っていない場合には、「<%= link_to 'アカウントの開設', [:new, :user_registration] %>」
                  から実施して下さい。<br/>
                  <br/>
                </span>
              </td>
            </tr>
          </table>