<% content_for(:menu) do -%>
  <div id="menu">
    <%= link_to "アカウントの開設", [:new, :user_registration] %>&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <%= link_to "ログイン", root_path %>&nbsp;&nbsp;
  </div>
<% end -%>

<h3>再度アカウントの開設を行って下さい。</h3>
